
input[type="checkbox"] {
	display: inline-block;
	margin: 0px;
	padding: 0px;
	width: 24px;
	height: 24px;
	line-height: 24px;
	font-size: 24px;
	color: #2d323d;
	background: #2d323d;
	border: 1px solid #262934;
	border-radius: 2px;
	box-sizing: border-box;
	-webkit-appearance: none;
	appearance: none;
	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
	outline: none;
	transition: 250ms all ease-out;
}

input[type="checkbox"]:checked {
	color: #262934;
	background: #5294e2;
	transition: 250ms all ease-out;
}

input[type="checkbox"]:before {
	content: "\2714";
	display: block;
	text-align: center;
}

input[type="text"] {
	display: inline-block;
	margin: 0px;
	padding: 0px 8px;
	height: 28px;
	border: 1px solid #2b2e39;
	border-radius: 4px;
	box-sizing: border-box;
	color: #ffffff;
	background: #444a58;
	font-family: 'Cantarell';
	font-weight: normal;
	font-style: normal;
	-webkit-user-select: none;
	user-select: none;
}

input[type="text"]:focus {
	border: 1px solid #5294e2;
	outline: none;
}

input[type="text"][disabled] {
	color: #68818c;
	background: #3e4351;
	border: 1px solid #303440;
	cursor: not-allowed;
}

input[type="text"]::-webkit-input-placeholder {
	color: #68818c;
}

input[type="password"] {
	display: inline-block;
	margin: 0px;
	padding: 0px 8px;
	height: 28px;
	border: 1px solid #2b2e39;
	border-radius: 4px;
	box-sizing: border-box;
	color: #ffffff;
	background: #444a58;
	font-family: 'Cantarell';
	font-weight: normal;
	font-style: normal;
	-webkit-user-select: none;
	user-select: none;
}

input[type="password"]:focus {
	border: 1px solid #5294e2;
	outline: none;
}

input[type="password"][disabled] {
	color: #68818c;
	background: #3e4351;
	border: 1px solid #303440;
	cursor: not-allowed;
}

input[type="password"]::-webkit-input-placeholder {
	color: #68818c;
}

