
/*
 * APP STATES
 */

section#browse > header {
	height: auto;
}

section#browse > header > *,
section#search > header > * {
	vertical-align: middle;
}

section#browse > header > label,
section#search > header > label {
	vertical-align: top;
}

section#browse > header > input[type="text"] {
	width: calc(100% - 170px);
}

section#browse > article {
	top: 76px;
}

section#search > header > input[type="text"] {
	width: calc(100% - 304px);
}



/*
 * APP VIEWS
 */

section > header > input[type="checkbox"] {
	margin: 0px 4px 0px 8px;
}

section > footer > input[type="text"] {
	width: 256px;
	margin-left: calc(100% - 440px);
}

section > article {
	padding: 4px;
}

