
/*
 * APP STATES
 */

section#browse > header {
	height: auto;
}

section#browse > header > *,
section#search > header > * {
	vertical-align: middle;
}

section#browse > header > label,
section#search > header > label {
	vertical-align: top;
}

section#browse > header > input[type="text"] {
	width: calc(100% - 170px);
}

section#browse > article {
	top: 76px;
}

section#browse > footer > input[type="text"] {
	width: 256px;
	margin-left: calc(100% - 440px);
}

section#search > header > input[type="text"] {
	width: calc(100% - 304px);
}



/*
 * APP VIEWS
 */

section > header > input[type="checkbox"] {
	margin: 0px 4px 0px 8px;
}

section > article {
	padding: 4px;
}



/*
 * APP CONTENTS
 */

article {
	font-family: 'Cantarell';
	font-weight: normal;
	font-style: normal;
}

article a {
	padding: 0px 4px;
	color: #5294e2;
	text-decoration: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

article a:focus,
article a:hover {
	border: 1px solid #5294e2;
	background: #4e5665;
}

article > * {
	display: block;
	min-width: 512px;
	width: 66%;
}

article > h3 {
	margin: 3em auto 1em auto;
	font-weight: bold;
	font-size: 1.5em;
}

article > img {
	margin: 1em auto;
}

article > ol {
	margin: 1em auto;
	padding: 0px;
	list-style-position: inside;
}

article > p {
	margin: 1em auto;
	text-align: justify;
}

article > pre {
	width: calc(66% - 2em);
	margin: 1em auto;
	padding: 0.5em 1em;
	border: 1px solid #272a34;
	background: #383c4a;
}

article > table {
	display: table;
	width: calc(66% + 8px + 2px);
	margin: 1em auto;
	border-spacing: 4px;
}

article > table th {
	padding: 4px 8px;
}

article > table td {
	border: 1px solid #272a34;
	padding: 4px 8px;
}

article > table tr:hover td {
	background: #4e5665;
}

article > ul {
	margin: 1em auto;
	list-style: none;
	padding: 0px;
}

article > ul > li {
	line-height: 1em;
}

article > ul > li:before {
	content: "▶";
	display: inline;
	margin: 0px 0.3em 0px 2px;
	line-height: 1.2em;
	vertical-align: bottom;
}


@media (max-width: 545px) {

	section#browse > footer > input[type="text"] {
		width: calc(100% - 184px);
		margin: 0px;
	}

}

