
@font-face {
	font-family: 'blender-medium';
	src: url('blender-medium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'blender-heavy';
	src: url('blender-heavy.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

body {
	color: #ffffff;
	background: #000000;
	font-family: 'blender-medium';
	font-weight: normal;
	font-style: normal;
	font-size: 16px;
}

menu {
	background: #151520;
	border-right: 2px solid #0f99cb;
	font-family: 'blender-medium';
}

menu li {
	color: #ffffff;
	text-transform: uppercase;
}

menu li:hover,
menu li.active {
	border: 2px solid #0f99cb;
	background: #000000;
}

menu aside button {
	color: #ffffff;
	border: 2px solid #ffffff;
	background: #000000;
	font-family: 'blender-medium';
	text-transform: uppercase;
}

menu aside button:focus,
menu aside button:hover {
	color: #0f99cb;
	border: 2px solid #0f99cb;
}

main > section > header {
	background: #151520;
	border-bottom: 2px solid #0f99cb;
}

main > section > aside {
	background: #151520;
	border-left: 2px solid #0f99cb;
}

main > section > aside::-webkit-scrollbar-thumb {
	background: #0f99cb;
}

main > section > aside b {
	font: normal 32px/64px 'blender-heavy';
}

main > section > aside a {
	color: #ffffff;
}

main > section > aside a:focus,
main > section > aside a:hover {
	color: #0f99cb;
}



/*
 * USER INTERFACE
 */

::selection {
	color: #ffffff;
	background: #0f99cb;
}

main input[type="text"] {
	font-family: 'blender-medium';
	color: #ffffff;
	background: #000000;
	border: 2px solid #ffffff;
}

main input[type="text"]:focus,
main input[type="text"]:hover {
	border: 2px solid #0f99cb;
}

main input[type="checkbox"] {
	border: 2px solid #ffffff;
	background: #000000;
}

main input[type="checkbox"]:focus,
main input[type="checkbox"]:hover {
	border: 2px solid #0f99cb;
}

main input[type="checkbox"]:checked:before {
	color: #ffffff;
}

main input[type="checkbox"]:focus:checked:before,
main input[type="checkbox"]:hover:checked:before {
	color: #0f99cb;
}

