
header#wm {
	border-radius: 0px;
}

main {
	border-radius: 0px;
}

div#wm-actions > button#wm-donate {
	color: #ffffff;
	padding: 0px 8px;
}

div#wm-center {
	position: absolute;
	text-align: left;
	top: 0px;
	left: 48px;
	right: auto;
	bottom: auto;
	margin: 0px;
	padding: 0px;
}

div#wm-center > ul.wm-history {
	display: inline-block;
	height: 30px;
	margin: 0px 16px 0px 0px;
	padding: 0px 0px 0px 16px;
	border-left: 1px solid #414853;
}

div#wm-center > ul.wm-history > li {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin: 0px 8px 0px 0px;
	padding: 0px;
	list-style: none;
}

div#wm-center > ul.wm-history > li:last-of-type {
	margin: 0px;
}

div#wm-center > ul.wm-history > li:hover {
	opacity: 1;
}

div#wm-center > ul.wm-history > li > img {
	width: 30px;
	height: 30px;
	box-sizing: border-box;
}

div#wm-center > ul.wm-history:nth-child(1)  > li:hover { background-color: #d0494b; }
div#wm-center > ul.wm-history:nth-child(2)  > li:hover { background-color: #f3777a; }
div#wm-center > ul.wm-history:nth-child(3)  > li:hover { background-color: #fda7a9; }

div#wm-center > ul.wm-history:nth-child(4)  > li:hover { background-color: #d2ba4a; }
div#wm-center > ul.wm-history:nth-child(5)  > li:hover { background-color: #f5df78; }
div#wm-center > ul.wm-history:nth-child(6)  > li:hover { background-color: #fff0a8; }

div#wm-center > ul.wm-history:nth-child(7)  > li:hover { background-color: #41aa3c; }
div#wm-center > ul.wm-history:nth-child(8)  > li:hover { background-color: #66c761; }
div#wm-center > ul.wm-history:nth-child(9)  > li:hover { background-color: #96de92; }

div#wm-center > ul.wm-history:nth-child(10) > li:hover { background-color: #503e91; }
div#wm-center > ul.wm-history:nth-child(11) > li:hover { background-color: #6e5da9; }
div#wm-center > ul.wm-history:nth-child(12) > li:hover { background-color: #998cc9; }



@media (max-width: 860px) {

	header#wm {
		text-align: left;
	}

}

@media (max-width: 545px) {

	section > footer > input[type="text"] {
		width: calc(100% - 180px);
		margin: 0px;
	}

}

@media (max-width: 525px) {

	header#wm div#wm-right div#wm-actions {
		display: none;
	}

}

