
header#wm {
	border-radius: 0px;
}

main {
	border-radius: 0px;
}

menu#wm-appmenu > img#wm-appicon {
	border: 1px solid #242932;
	background: #404857;
}

div#wm-actions > button#wm-donate {
	color: #ffffff;
	padding: 0px 8px;
}

@media (max-width: 860px) {

	header#wm {
		text-align: left;
	}

	header#wm menu#wm-appstates {
		margin-left: 42px;
	}

}

@media (max-width: 670px) {

	header#wm menu#wm-appstates > li {
		width: auto;
		padding: 0px 4px;
	}

}

@media (max-width: 545px) {

	section > footer > input[type="text"] {
		width: calc(100% - 180px);
		margin: 0px;
	}

}

@media (max-width: 525px) {

	header#wm div#wm-right div#wm-actions {
		display: none;
	}

}

