
:host header,
:host footer {
	display: none;
}

:host article {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
	color: #ffffff;
	font-family: 'Cantarell';
	font-weight: normal;
	font-style: normal;
	text-align: center;
	background: #383c4a;
	user-select: none;
	-webkit-user-select: none;
	cursor: default;
}

:host article > figure {
	position: absolute;
	width: 50%;
	top: 50%;
	left: 50%;
	margin: 0px;
	padding: 0px;
	transform: translate(-50%, -50%);
}

:host article > figure p.response {
	font-size: 32px;
	margin: 0px 0px 32px 0px;
}

:host article > figure input.command {
	width: 100%;
	font-size: 32px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	background: transparent;
	border-color: transparent;
}





