
:host header,
:host footer {
	display: none;
}

:host article {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: 0px;
	padding: 16px;
	color: #ffffff;
	font-family: 'Cantarell';
	font-weight: normal;
	font-style: normal;
	text-align: center;
	background: #383c4a;
	user-select: none;
	-webkit-user-select: none;
	cursor: default;
}

:host article > figure {
	position: absolute;
	width: 50%;
	top: 50%;
	left: 50%;
	margin: 0px;
	padding: 0px;
	transform: translate(-50%, -50%);
}

:host article > figure > div {
	display: block;
	width: 0px;
	height: 0px;
	margin: 0px auto 32px auto;
	border: 0px solid transparent;
	border-left: 64px solid transparent;
	border-right: 64px solid transparent;
	border-top: 96px solid #d0494b;
	transform: scale(1, 1) translate(0, 0);
}

@keyframes wait {
	0%   { transform: scale(1, 1); }
	50%  { transform: scale(1.1, 1.1); }
	100% { transform: scale(1, 1); }
}

@keyframes deny {
	0%   { transform: translate(-10%, 0); }
	25%  { transform: translate( 10%, 0); }
	50%  { transform: translate(-10%, 0); }
	75%  { transform: translate( 10%, 0); }
	100% { transform: translate(  0%, 0); }
}

/*
:host article > figure > div.wait {
	animation: 2500ms linear infinite wait;
}
*/

:host article > figure > div.deny {
	animation: 500ms ease-out 1 deny;
}

:host article > figure p.response {
	font-size: 32px;
	margin: 0px;
	padding: 0px;
}

:host article > figure input.command {
	width: 100%;
	font-size: 32px;
	height: 64px;
	line-height: 64px;
	text-align: center;
	background: transparent;
	border-color: transparent;
}





